{{ partial "header.html" . }}

<div class="flex flex-col items-center">
    {{ if .Params.images }}
    <div>
        <img src="{{ index (.Params.images) 0 }}" />
    </div>
    {{ end }}

    <section class="blog-publication-info">
        <h1>{{ .Title }}</h1>
        {{ $date := .Params.date.Format "Jan 2, 2006" }}
        {{ if .Params.author }}
        
            <div class="blog-author">By {{ .Params.author }}</div>
            {{ if (gt .Params.date 0) }}
            <div class="blog-publication-date">{{ $date }}</div>
            {{ end }}

        {{ end }}
    </section>
    <main>

        {{ if .Params.toc }}
        <h2>Table of Contents</h2>
        <aside>
            {{.TableOfContents}}
        </aside>
        {{ end }}


        {{ .Content }}
    </main>

    {{ partial "footer.html" . }}
</div>
